<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Flask</h1>
    <p>This is the home page of our Flask application.</p>
    <a href="/about">About Us</a>
    <a href="/contact">Contact</a>
    <ol>List:
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
    <table lang="ru">
        <tr>
            <td>Падеж</td>
            <td>Вопрос</td>
        </tr>
        <tr>
            <td>Именительный</td>
            <td>Кто? Что?</td>
        </tr>
         <tr>
            <td>Родительный</td>
            <td>Кого? Чего?</td>
        </tr>
        <tr>
            <td>Дательный</td>
            <td>Кому? Чему?</td>
        </tr>
        <tr>
            <td>Винительный</td>
            <td>Кого? Что?</td>
        </tr>
        <tr>
            <td>Творительный</td>
            <td>Кем? Чем?</td>
        </tr>
        <tr>
            <td>Предложный</td>
            <td>О ком? О чем?</td>
        </tr>
    </table>
</body>
</html>